# =====================
# Python virtual env
# =====================
.venv/
venv/
env/

# =====================
# Python cache
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# Pytest
# =====================
.pytest_cache/

# =====================
# Package build
# =====================
*.egg-info/
dist/
build/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Simulation outputs
# =====================
outputs/
*.csv
*.log

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db